<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>S.C.A.M Don't CRAM</title>

    <link rel="stylesheet"
          href="/static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">

    <link rel="preconnect"
        href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">

</head>

<body>

<header>

    <nav class="navbar">

        <a class="logo"
        href="/">

            S.C.A.M Don't CRAM

        </a>

        <ul>

            <li><a href="/">Home</a></li>

            <li><a href="/about">About</a></li>

            <li><a href="/quiz">Quiz</a></li>

            <li><a href="/reviews">Reviews</a></li>

        </ul>

    </nav>

</header>


<main>

{% block content %}

{% endblock %}

</main>

<footer>

    © 2026 SCAM Don't CRAM

</footer>

</body>

</html>